[user]
  name = Mark Przepiora
  email = mark.przepiora@gmail.com
[alias]
  co = checkout
  aa = add --all
  st = status --short
  ci = commit
  dc = diff --cached
  di = diff
  pullff = pull --ff-only
  pf = push --force

  # git h = head
  head = !git l -1
  h = !git head
  # git hp = head with patch
  hp = "!. ~/.githelpers && show_git_head"
  # git r = recent commits, only current branch
  # git ra = recent commits, all reachable refs
  r = !git l -30
  ra = !git r --all
  # git l = all commits, only current branch
  # git la = all commits, all reachable refs
  l = "!. ~/.githelpers && pretty_git_log"
  la = !git l --all
  lac = "!. ~/.githelpers && pretty_git_log2"
  # git tl = (flat) all commits, only current branch
  # git tr = (flat) recent commits, only current branch
  tl = "!. ~/.githelpers && pretty_git_topo_log"
  tr = !git tl -30
  # git pb = branches
  pb = "!. ~/.githelpers && pretty_git_branches"
  # git branch-commits = see commits that will be merged
  branch-commits = "!. ~/.githelpers && branch_commits_range_from_head"
  branch-files = "!. ~/.githelpers && files_in_branch"

  # Add untracked files only
  au = !"git st -s | grep '?' | cut -d' ' -f2 | xargs git add"
  lg = log --color --graph --pretty=format:'%Cred%h %Cgreen(%ci)%Creset%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit

[core]
  editor = vim
  excludesfile = /Users/mark/.gitignore_global
  pager = "less -F -X"
[color]
  ui = true
[push]
  default = simple
[oh-my-zsh]
	# disable showing dirty status in zsh prompt since this can be quite slow in
	# slow filesystems (like WSL)
	hide-dirty = 1
